@import "src/utils/styles/variables";
@import "src/utils/styles/extends";

$whitespace: 1rem;

.faq-container {
  @extend .extended-container;

  &__title {
    @extend .extended-title;
  }
}

.faq {
  width: 100%;
  max-width: 800px;
  list-style: none;
  margin: 0;
  padding: $whitespace;
  border-radius: 5px;
  text-align: left;

  &__field-container {
    &:not(:last-of-type) {
      margin-bottom: $whitespace;
    }
  }

  &__question {
    font-weight: 600;
    font-size: 1.1rem;
  }

  &__answer {
    margin: 0;
    padding-left: 2rem;
    white-space: pre-wrap;
  }
}
