@import "src/utils/scss/variables";

$whitespace: 1rem;

.faq-container {
  position: relative;
  width: 100%;
  margin: 1rem 0 0;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  max-width: 800px;

  &__title {
    padding: 0 10px;
    border: 1px solid transparent;
    border-radius: 20px;
    background: white;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -60%);
    white-space: nowrap;
    overflow: hidden;
  }
}

.faq {
  width: 100%;
  max-width: 800px;
  list-style: none;
  margin: 0;
  padding: $whitespace;
  border-radius: 5px;
  text-align: left;

  &__field-container {
    &:not(:last-of-type) {
      margin-bottom: $whitespace;
    }
  }

  &__question {
    font-weight: 600;
    font-size: 1.1rem;
  }

  &__answer {
    margin: 0;
    padding-left: 2rem;
    white-space: pre-wrap;
  }
}
