@import "../../../mixins";

.service {
  background: rgba(238, 238, 238, 0.75);
  color: #000;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
  min-height: 400px;
  padding: 1em;
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  // Used to seperate services from each other
  &:not(:last-child) {
    margin-bottom: 1em;
  }

  &__title {
    font-size: 2.3rem;
    color: white;
    @include stroke(2, black);
  }

  &__description {
    font-size: 1.2rem;
    color: white;
    @include stroke(2, black);
    width: 80%;
  }

  // Product Service Panel
  &__products {
    order: -1;
    background-image: url("./images/products-image-[alcohol].jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // Contact Service Panel
  &__contact {
    background-image: url("./images/contact-image-[phone].jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  // About Service Panel
  &__about {
    background-image: url("./images/about-image-[cards].jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

// Targeting non-mobile screens
@media (min-width: 768px) {
  .service {
    flex: 1;
    max-width: 30%;

    // Makes all service back to same height
    &:not(:last-child) {
      margin-bottom: 0;
    }

    &__products {
      order: 0; // Products is in the middle on non-mobile
    }
  }
}
