.page-events {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  align-content: flex-start;
  grid-gap: 2rem;
  justify-items: center;
  text-align: center;
  padding: 1rem;

  & > section:nth-child(odd) {
    background: #eee;
  }
}

@media (min-width: 768px) {
}
