.footer {
  background-color: #343a40;
  color: white;
  text-align: center;
  padding: 0 1rem;

  &__about-link {
    margin: 0;
    padding: 1rem 0 0;

    a {
      text-decoration: none;
      font-weight: bold;
      color: yellow;

      &:hover {
        color: red;
      }
    }
  }

  &__panel {
    color: white;
    padding: 1rem 0;

    &:not(:last-child) {
      border-bottom: 1px solid white;
    }
  }

  &__title {
    text-transform: uppercase;
    display: inline-block;
    border-bottom: 2px solid white;
  }

  &__content {
    font-size: 1.2rem;
  }

  &__row {
    display: flex;
    justify-content: center;
  }

  &__days {
    flex: 1;
    text-align: right;
    margin-right: 5px;
  }

  &__time {
    flex: 1;
    text-align: left;
    margin-left: 5px;
  }
}

@media (min-width: 768px) {
  .footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem 0;

    &__about-link {
      grid-column: 1 / 4;
      grid-row: 2 / 3;
    }

    &__panel {
      flex: 1;
      padding: 0;

      &:not(:last-child) {
        border: none;
        border-right: 1px solid white;
      }
    }
  }
}
