@import "src/utils/scss/extends";

.event {
  @extend .extended-container;

  &__title {
    @extend .extended-title;
  }

  &__time {
    font-style: italic;
    font-weight: 600;
  }

  &__content {
    margin: 0;
    font-size: 1.1rem;
  }
}
