.google-map-container {
  width: 100%;
  // max-width: 500px;
  height: 500px;
  margin: 0 auto;
}

.marker-text {
  font-size: 0.8rem;
  font-weight: 600;
  border: 1px solid #777;
  border-radius: 5px;
  white-space: nowrap;
  overflow: hidden;
  padding: 3px;
}
