html {
  height: 100vh;
}

body {
  min-height: 100vh;
}

#root {
  min-height: 100vh;

  > div {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

.page-products,
.page-about,
.page-history,
.page-home {
  flex: 1;
}

a:hover {
  text-decoration: none;
}
