@import "src/utils/styles/variables";

.banner {
  background: $color__banner--primary;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;

  &:nth-child(even) {
    background: $color__banner--secondary;

    // & > .banner__link {
    //   color: $color__banner-text;
    // }
  }

  &__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: $color__banner-text;

    &:hover {
      color: $color__banner-text;
      border-bottom: 2px solid black;
      font-size: 1.2rem;
    }
  }
}
